<div class="container-fluid">
  <div id="main" class="row">
    <div class="col-sm-2"><%- include('partials/sidebar'); %></div>
    <div class="col-sm-10"><%- include('partials/content'); %></div>
  </div>
</div>
