body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#main {
  height: 100vh;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.content {
  margin-top: 20px;
}
